body {
  color: var(--text-color);
  background: var(--bg-color);
}

section {
  padding: 70px 17% 60px;
}

.destino-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  align-items: center;
  text-align: center;
  gap: 3rem;
}

.row-img {
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
}

.row-img img {
  width: 100%;
  display: block;
  transition: transform 0.7s;
}

.row-img img:hover {
  transform: scale(1.2);
}